@import "./reset/basic-reset";
@import "./base/variables";


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1,
p {

    font-size: 3rem;
    padding: 3rem;
    color: $primary;
    text-transform: uppercase;
}