body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
p {

    font-size: 3rem;
    padding: 2rem;
    color: green;
    text-transform: uppercase;
}